/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Verdana, sans-serif;
    color: #000000;
}
header, nav, main, footer {
    margin:1rem auto;
    max-width: 25rem;
}

header, footer, footer a {
    text-align: center;
    border-radius: 16px;
    background-color: #6699ff;
    color: whitesmoke;
}

header .hdr-container{
    display: flex;
}

h1 {
    font-size: 1.5rem;
    color: #302b27;
    padding-bottom: .5rem;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    }

header img {
    width: 35%;
    height: auto;
    float: center;
}

nav nav-container{
    display: flex;
}

nav ul {
    list-style-type: none;
}

footer {
    font-size: 1.0rem;
}